*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	height: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper{
	height: 100%;
	padding: 50px;
	background-color: #343a40;
}


.menu{
	display: flex;
	align-items: center;
	justify-content: center;
}
.menu a{
	text-decoration: none;
	font-size: 22px;
}
.menu a.parent{
	margin: 0px 20px 0px 0px;
}
.menu li{
	position: relative;
	list-style: none;
}
.menu__list{
	display: flex;
}
.menu__list>li{
	margin: 0px 20px 0px 0px;
}
.menu__list>li:hover .sub-menu__list{
	display: block;
}
.menu__link{
	color: #fff;
}
.sub-menu__list{
	display: none;
	min-width: 80px;
	position: absolute;
	left: 0;
	top: 18px;
	padding: 6px 0px 0px 0px;
}
.sub-menu__list>li{
	background-color: #fff;
}
.sub-menu__list li{
	margin-bottom: 1px;
}
.sub-menu__link{
	padding: 5px 0px;
	color: #000;
}

.arrow{
	display: none;
	position: absolute;
	right: 0;
	top: 7px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.arrow.active{
	transform: rotate(-180deg);
}
.menu__arrow{}


body.touch .sub-menu__list.open{
	display: block;
}
body.touch .arrow{
	display: block;
}